<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <h1 id= "inicio">Mi sitio web</h1>
      <div>
        <ul type="none">
         <li><a href="/">home</a></li>
         <li><a href="/about">about</a></li>
         <li><a href="/contact">contact</a></li>
         <li><a href="https://google.com" target="__black">google</a> </li>
         <li><a href="#compras">Ir a compras</a></li>
        </ul>
      </div>
    </header>

<main>
    <section>
        <img src="/images/Captura de pantalla (8).png" alt="">
    </section>
    <section>
    <h2>Ofertas</h2>
    <article>
        <img src="/images/81rjH-kN+kL._AC_SY550_.jpg" alt="">
        <div>
          <h4>Toyota AE86</h4>
          <p>$1000</p>
        <span>50%OFF</span>
        <a href="Ver mas">Ver mas</a>
        </div>
    </article>
    <article>
        <img src="/images/89238179-adelaide-austrália-5-de-novembro-de-2016-um-tiro-isolado-de-um-fechado-vermelho-toyota-supra-hot-wheel.jpg" alt="">
        <div>
          <h4>Toyota Supra</h4>
          <p>$1500</p>
        <span>50%OFF</span>
        <a href="Ver mas">Ver mas</a>
        </div>
    </article>
    <article>
        <img src="/images/915cqHV5P8L._AC_SY606_.jpg" alt="">
        <div>
          <h4>Mattel Whells</h4>
          <p>$500</p>
        <span>50%OFF</span>
        <a href="Ver mas">Ver mas</a>
        </div>
    </article>
    <article>
        <img src="/images/Hot-Wheels-coche-de-colecci-n-de-coches-fundidos-de-Metal-para-ni-os-veh-culo.jpg" alt="">
        <div>
          <h4>Toyota Supra(Verde)</h4>
          <p>$1500</p>
        <span>50%OFF</span>
        <a href="Ver mas">Ver mas</a>
        </div>
    </article>
    </section>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae eveniet inventore impedit vero pariatur
        beatae nemo consequatur saepe! Fugiat, asperiores corrupti eos ex quod amet quia neque possimus, placeat eum
        magni dicta veniam voluptates. Illo consequuntur, maiores itaque quod ea dignissimos autem velit, odio eum ipsa
        sit numquam porro.
    </p>
    <h3>Tareas</h3>
    <ol>
        <li>Repasar la clase</li>
        <li>Hacer el trabajo practico</li>
        <li>Trabajar sobre el sprint</li>
    </ol>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae eveniet inventore impedit vero pariatur
        beatae nemo consequatur saepe! Fugiat, asperiores corrupti eos ex quod amet quia neque possimus, placeat eum
        magni dicta veniam voluptates. Illo consequuntur, maiores itaque quod ea dignissimos autem velit, odio eum ipsa
        sit numquam porro.
    </p>
</main>
    <footer>
    <h3 id= "redes">redes sociales</h3>
    <ul type="square">
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quae eveniet inventore impedit vero pariatur
        beatae nemo consequatur saepe! Fugiat, asperiores corrupti eos ex quod amet quia neque possimus, placeat eum
        magni dicta veniam voluptates. Illo consequuntur, maiores itaque quod ea dignissimos autem velit, odio eum ipsa
        sit numquam porro.
    </p>
    </footer>
    <a href="#inicio">Ir arriba!</a>
</body>

</html>